.header-overall{
    background-color: #0f6674;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.header-element{
    display: inline-block;
}

.header-logo{
    width : 50px
}

.header-label{
    color: antiquewhite;
}