<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div>
    <div id="main-container"></div>
</div>

<script src="../static/modules/header/api.js"></script>
<script src="../static/helpers/helpers.js"></script>
<script src="../static/modules/header/index.js"></script>
<script src="../static/modules/footer/index.js"></script>

<script src="../static/components/cartItem/index.js"></script>
<script src="../static/components/cartEmpty/index.js"></script>
<script src="../static/components/cartRightBar/index.js"></script>
<script src="../static/pages/cart/index.js"></script>
<script src="../static/modules/cartOld/counter.js"></script>
<script src="../static/modules/cartOld/cart.js"></script>
<script src="../static/modules/cartOld/helpers.js"></script>


</body>
</html>