<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Магазин роллов</title>
    <link rel="stylesheet" href="../static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700&amp;subset=cyrillic-ext"
          rel="stylesheet">
</head>

<body>
<div class="container mb-5">
    <div class="row" id="main-container">

    </div>
</div>

<!-- Подключаем скрипты -->
<script src="../static/modules/header/api.js"></script>

<script src="../static/components/loginForm/index.js"></script>
        <script src="../static/components/cartItemOld/index.js"></script>

    		<script src="../static/modules/header/index.js"></script>
<script src="../static/modules/footer/index.js"></script>
<script src="../static/pages/login/index.js"></script>



</body>
</html>
