<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="../static/modules/header/api.js"></script>
<script src="../static/components/fullSizeItem/index.js"></script>
<script src="../static/modules/header/index.js"></script>
<script src="../static/pages/product/index.js"></script>
<script src="../static/modules/product/index.js"></script>
<script>
    window.currentProduct = {{ product | tojson}};
    {#console.log(a);#}
</script>
<div class="container mb-5">
    <div class="row" id="main-container">

    </div>
</div>
</body>
</html>