@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.sub-category_main > * {
    margin: 15px 0;
}

.sub-category_main:first-child {
    margin-top: 0;
}

.sub-category_main:last-child {
    margin-bottom: 0;
}

.sub-category_status {
    background-color: white;
    border-radius: 4px;
}


.sort {
    display: flex;
    justify-content: center;
}

.sort-item {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 20px;

}

.sort-item > *:not(:last-child) {
    margin-right: 10px;
}

.sort-action {
    position: relative;
}



.select-menu .select-btn {
    display: flex;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.select-menu .options {

    position: absolute;
    margin-top: 3px;
    border-radius: 4px;
    background: #fff;
    display: none;

    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    left: -10px;
    overflow: hidden;
    top: calc(100% + 10px);
    width: 205px;
    z-index: 5;

}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 30px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 4px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: rgb(255, 214, 69);
}

.option .option-text {
    font-size: 14px;
    color: #333;
}

.sort-action_description {
    color: #bababa;
}

.select-btn .btn-text-bx {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn .btn-text-bx {
    transform: rotate(-180deg);
}
